
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">

           
            <h2>BUSCAR</h2>
            <a th:href="@{/cliente/listado}">Regresar</a>
            <br />
            <br />

            <form th:action="@{/cliente/buscarResultados}"
                  method="POST"
                  th:object="${cliente}" >

               
                
                 
                <label for="nombre">Nombre</label> <br/>
                <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/> <br/>

                <label for="apellidos">Apellidos:</label> <br/>
                <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}"/><br/><br/>

             
              <a th:href="@{/cliente/buscarResultados}">Buscar</a>


            </form>
            
            

        </div>
        <footer  th:replace="layout/plantilla 
                 :: footer"/> 
    </body>
</html>